.logo{
    font-family:"Montserrat", sans-serif;
    font-weight: 900px;
    font-style: normal;
    font: size 30px; ;
    line-height: 160%;
    letter-spacing: -0.02em;
    color: #0A1B32;
    margin-top: 70px;
    margin-left: 50.06px;
}
.logo-dot{
    color: #FC569A;
}
.main-title{
  font-family: "Ramaraja", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 0.02em;
  margin-top: 313.71px;
  margin-left: 270.06px;
  color:#1B0A42;
}
.main-info{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  margin-top: 10px;
  margin-left: 270.06px;
  color: #9A9A9A;
  }
  .main-btn{
  display: block;
  background-color: #FC569A;
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
  margin-bottom: 270.06px;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size:16px;
  line-height: 32px;
  letter-spacing: 0.02em;
  



  }

  

